<section class="current-weather" [ngStyle]="{'background-image': 'url(' + webImage + ')'}" *ngIf="webImage != null">
  <app-wave></app-wave>
  <div class="current-weather__container">
    <header>
      <button mat-icon-button (click)="onToggleSidenav()">
        <mat-icon>menu</mat-icon>
      </button>
    </header>
    <div class="current-weather__grid">
      <span class="current-weather__location">{{ location.city }}, <strong>{{ location. region }}</strong></span>
      <span class="current-weather__date">{{ dayTime }}</span>
      <span class="current-weather__forecast">{{ locWeatherShortForecast }}</span>
    </div>
    <div>
      <span class="current-weather__temperature" fxFlex fxLayout="row" fxLayoutAlign="center center" fxLayoutAlign.gt-sm="flex-start flex-start">
        <mat-icon class="weather-icon weather__temperature__icon matSuffix" svgIcon="ovc" fxLayout="column"></mat-icon>
        <span class="current-weather__temperature__value">{{ locWeatherTemp }}<sup class="current-weather__temperature__symbol">&#176;{{ locWeatherTempUnit }}</sup></span>
      </span>
    </div>
  </div>

</section>
