<section>
  <div class="current-weather__container">
    <header>Header/Menu</header>
    <div class="current-weather__grid">
      <span class="current-weather__location">Location</span>
      <span class="current-weather__date">Day and Time</span>
      <span class="current-weather__forecast">Condition Text</span>
    </div>
    <span class="current-weather__temperature">
      <span class="current-weather__temperature__value">
        00
        <sup class="current-weather__temperature__symbol">
          °F
        </sup>
      </span>
    </span>
  </div>

  <app-wave></app-wave>
</section>
